In [2]:
print("'test'")

'test'

In [4]:
import requests as rq
import re
import csv 
from bs4 import BeautifulSoup as BS
from IPython.display import display, HTML
from IPython.display import IFrame

In [7]:
URL='https://fortune.com/fortune500/2022/search/'
response=rq.get(URL)

In [9]:
response.status_code

200

In [10]:
# The above status code shows that data can be scraped

<h1 style="color:red">Scraping data</h1>

In [1]:
FILE_NAME="fortune500.csv"
data=[]
columns=["Rank","Name","Revenues ($M)","Revenue Percent Change","Profits ($M)",
        "Profits Percent Change","Assets ($M)","Market Value - as of March 31, 2022 ($M)",
        "Change in Rank (Full 1000)","Employees","Change in Rank (500 only)"]

In [2]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
#from webdriver_manager.chrome import ChromeDriverManager
import time
import csv 
import pandas as pd
import re

In [3]:
driver=webdriver.Chrome()

url = "https://fortune.com/fortune500/2022/search/"
driver.get(url)
time.sleep(10)
select = driver.find_element(By.CLASS_NAME,'-pageSizeOptions')
soup = BeautifulSoup(driver.page_source)

In [4]:
s=Select(select.find_element(By.TAG_NAME,"select"))

s.select_by_value("100")

In [5]:
soup=BeautifulSoup(driver.page_source)

total_pages=soup.select_one(".-totalPages")
total_pages=int(total_pages.text)
total_pages

10

In [6]:
driver.execute_script("document.querySelector('.tp-modal').style.display = 'none';")
driver.execute_script("document.querySelector('.tp-backdrop').style.display = 'none';")

In [7]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [8]:
def read_content(rows):
    for row in rows:
        row=row.select(".searchResults__cellContent--3WEWj")
        obj=[]
        
        global data
        for column in range(0,11):
            obj.append(row[column].text)
        data.append(obj)

In [9]:
from selenium.webdriver.common.keys import Keys

for page in range(1,6):
    input=driver.find_element(By.CLASS_NAME,"-pageJump").find_element(By.TAG_NAME,"input")

    soup=BeautifulSoup(driver.page_source)
    rows = soup.find_all('div', attrs={"class":"rt-tr-group"})
    print(F"{page} of {len(rows)}")
    read_content(rows)
    time.sleep(1)
    input.send_keys(Keys.ARROW_UP)
    input.send_keys(Keys.TAB)

1 of 100
2 of 100
3 of 100
4 of 100
5 of 100

In [10]:
# writing to csv file 
with open(FILE_NAME, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the fields 
    csvwriter.writerow(columns) 
        
    # writing the data rows 
    csvwriter.writerows(data)

In [11]:
fortune500_data=pd.read_csv(FILE_NAME,encoding= 'unicode_escape')
fortune500_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Rank                                      500 non-null    int64
 1   Name                                      500 non-null    object
 2   Revenues ($M)                             500 non-null    object
 3   Revenue Percent Change                    500 non-null    object
 4   Profits ($M)                              500 non-null    object
 5   Profits Percent Change                    500 non-null    object
 6   Assets ($M)                               500 non-null    object
 7   Market Value - as of March 31, 2022 ($M)  500 non-null    object
 8   Change in Rank (Full 1000)                500 non-null    object
 9   Employees                                 500 non-null    object
 10  Change in Rank (500 only)                 500 non-null    object
dtypes: int64(1), object(10)
memory usage: 43.1+ KB

In [13]:
fortune500_data.head()

,Rank,Name,Revenues ($M),Revenue Percent Change,Profits ($M),Profits Percent Change,Assets ($M),"Market Value - as of March 31, 2022 ($M)",Change in Rank (Full 1000),Employees,Change in Rank (500 only)
0,1,Walmart,"$572,754",2.4%,"$13,673",1.2%,"$244,860","$409,795",-,"2,300,000",-
1,2,Amazon,"$469,822",21.7%,"$33,364",56.4%,"$420,549","$1,658,807.3",-,"1,608,000",-
2,3,Apple,"$365,817",33.3%,"$94,680",64.9%,"$351,002","$2,849,537.6",-,"154,000",-
3,4,CVS Health,"$292,111",8.7%,"$7,910",10.2%,"$232,999","$132,839.2",-,"258,000",-
4,5,UnitedHealth Group,"$287,597",11.8%,"$17,285",12.2%,"$212,206","$479,830.3",-,"350,000",-

In [246]:
fortune500_data.Rank=fortune500_data.Rank.apply(lambda x:int(str.join('',re.findall("\d+",x))))

In [250]:
fortune500_data.sort_values(by="Rank",ascending=True,inplace=True)

In [251]:
fortune500_data[fortune500_data.Rank==1]

,Rank,Name,Revenues ($M),Revenue Percent Change,Profits ($M),Profits Percent Change,Assets ($M),"Market Value  as of March 31, 2022 ($M)",Change in Rank (Full 1000),Employees,Change in Rank (500 only)
2000,1,Walmart,"$572,754",2.4%,"$13,673",1.2%,"$244,860","$409,795",-,"2,300,000",-

In [252]:
fortune500_data.head()

,Rank,Name,Revenues ($M),Revenue Percent Change,Profits ($M),Profits Percent Change,Assets ($M),"Market Value  as of March 31, 2022 ($M)",Change in Rank (Full 1000),Employees,Change in Rank (500 only)
2000,1,Walmart,"$572,754",2.4%,"$13,673",1.2%,"$244,860","$409,795",-,"2,300,000",-
2001,2,Amazon,"$469,822",21.7%,"$33,364",56.4%,"$420,549","$1,658,807.3",-,"1,608,000",-
2002,3,Apple,"$365,817",33.3%,"$94,680",64.9%,"$351,002","$2,849,537.6",-,"154,000",-
2003,4,CVS Health,"$292,111",8.7%,"$7,910",10.2%,"$232,999","$132,839.2",-,"258,000",-
2004,5,UnitedHealth Group,"$287,597",11.8%,"$17,285",12.2%,"$212,206","$479,830.3",-,"350,000",-

In [43]:
import os
os.getcwd()

'C:\\Users\\NAME\\Fortune500'